<div class="row justify-content-center">
  <div class="col-12 d-flex justify-content-center">
    <div class="row justify-content-center">
      
      <!-- Card 1 -->
      <div class="col-sm-6 col-lg-3">
        <mat-card class="mat-mdc-card mdc-card shadow-none p-30 bg-light-primary text-center cursor-pointer rounded">
          <h3 class="f-s-24 text-primary f-w-500 m-b-4">{{ totalInterventions }}</h3>
          <h6 class="text-primary f-w-500 m-0 f-s-16">Total Rendez-vous</h6>
        </mat-card>
      </div>
      
      <!-- Card 2 -->
      <div class="col-sm-6 col-lg-3">
        <mat-card class="mat-mdc-card mdc-card shadow-none p-30 bg-light-warning text-center cursor-pointer rounded">
          <h3 class="f-s-24 text-warning m-b-4 f-w-500">{{ interventionsInProgress }}</h3>
          <h6 class="text-warning f-w-500 m-0 f-s-16">En attente</h6>
        </mat-card>
      </div>

      <div class="col-sm-6 col-lg-3">
        <mat-card class="mat-mdc-card mdc-card shadow-none p-30 bg-light-secondary text-center cursor-pointer rounded">
          <h3 class="f-s-24 text-success m-b-4 f-w-500">{{ interventionsApproved }}</h3>
          <h6 class="text-success f-w-500 m-0 f-s-16">Validés</h6>
        </mat-card>
      </div>
      
      <!-- Card 3 -->
      <div class="col-sm-6 col-lg-3">
        <mat-card class="mat-mdc-card mdc-card shadow-none p-30 bg-light-success text-center cursor-pointer rounded">
          <h3 class="f-s-24 text-success m-b-4 f-w-500">{{ interventionsOpen }}</h3>
          <h6 class="text-success f-w-500 m-0 f-s-16">Terminés</h6>
        </mat-card>
      </div>
      
      <!-- Card 4 -->
      
      <!-- Additional Cards -->
      <div class="col-sm-6 col-lg-3">
        <mat-card class="mat-mdc-card mdc-card shadow-none p-30 bg-light-info text-center cursor-pointer rounded">
          <h3 class="f-s-24 text-info m-b-4 f-w-500">{{ interventionsPending }}</h3>
          <h6 class="text-info f-w-500 m-0 f-s-16">Annulés</h6>
        </mat-card>
      </div>
      
      
      <div class="col-sm-6 col-lg-3">
        <mat-card class="mat-mdc-card mdc-card shadow-none p-30 bg-light-error text-center cursor-pointer rounded">
          <h3 class="f-s-24 text-error m-b-4 f-w-500">{{ interventionsClosed }}</h3>
          <h6 class="text-error f-w-500 m-0 f-s-16">Rejetés</h6>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-lg-8" *ngIf="isAdmin">
    <app-revenue-forecast></app-revenue-forecast>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12" *ngIf="isAdmin">
        <app-total-income></app-total-income>
      </div>
    </div>
  </div>
  
  <!-- Cards Container -->

  <div *ngIf="isAdmin || isMecanicien" [ngClass]="isMecanicien ? 'col-12' : 'col-lg-8'">
    <app-daily-activities
      [stats]="stats"
      [isLoading]="isLoading"
      [isAdmin]="isAdmin"
      [isMecanicien]="isMecanicien">
    </app-daily-activities>
  </div>
  <div [ngClass]="(!isAdmin) ? 'col-12' : 'col-lg-8'">
    <app-revenue-product></app-revenue-product>
  </div>
</div>
